In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("possum.csv")
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [30]:
df.size

1456

In [31]:
df.isna().sum()

case        0
site        0
Pop         0
sex         0
age         2
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    1
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [32]:
df.dropna(inplace=True)

In [33]:
df.shape

(101, 14)

In [34]:
df.isna().sum()

case        0
site        0
Pop         0
sex         0
age         0
hdlngth     0
skullw      0
totlngth    0
taill       0
footlgth    0
earconch    0
eye         0
chest       0
belly       0
dtype: int64

In [35]:
df.describe(include='all')

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,101.000000,101.000000,101,101,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,other,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,58,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,52.762376,3.673267,NaN,NaN,3.821782,92.730693,56.960396,87.269307,37.049505,68.398020,48.133663,15.050495,27.064356,32.638614
std,30.573894,2.366892,NaN,NaN,1.915182,3.518714,3.102679,4.196802,1.971681,4.413502,4.060352,1.058643,2.020722,2.727745
min,1.000000,1.000000,NaN,NaN,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,41.300000,12.800000,22.000000,25.000000
25%,26.000000,1.000000,NaN,NaN,2.000000,90.700000,55.000000,84.500000,36.000000,64.500000,44.800000,14.400000,25.500000,31.000000
50%,54.000000,4.000000,NaN,NaN,3.000000,92.900000,56.400000,88.000000,37.000000,67.900000,46.800000,14.900000,27.000000,32.500000
75%,79.000000,6.000000,NaN,NaN,5.000000,94.800000,58.100000,90.000000,38.000000,72.500000,52.000000,15.700000,28.000000,34.000000
max,104.000000,7.000000,NaN,NaN,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [36]:
vic_pop = df[df['Pop'] == 'Vic']
vic_pop

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
6,7,1,Vic,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
7,8,1,Vic,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,10,1,Vic,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0
10,11,1,Vic,f,9.0,93.3,57.2,89.5,39.0,77.2,51.3,14.9,31.0,34.0
11,12,1,Vic,f,5.0,94.9,55.6,92.0,35.5,71.7,51.0,15.3,28.0,33.0
12,13,1,Vic,m,5.0,95.1,59.9,89.5,36.0,71.0,49.8,15.8,27.0,32.0
13,14,1,Vic,m,3.0,95.4,57.6,91.5,36.0,74.3,53.7,15.1,28.0,31.5
14,15,1,Vic,m,5.0,92.9,57.6,85.5,34.0,69.7,51.8,15.7,28.0,35.0
15,16,1,Vic,m,4.0,91.6,56.0,86.0,34.5,73.0,51.4,14.4,28.0,32.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0
17,18,1,Vic,m,2.0,93.5,55.7,90.0,36.0,73.7,55.4,15.3,28.0,32.0
18,19,1,Vic,f,5.0,94.4,55.4,90.5,35.0,73.4,53.9,15.2,28.0,32.0
19,20,1,Vic,f,4.0,94.8,56.3,89.0,38.0,73.8,52.4,15.5,27.0,36.0
20,21,1,Vic,f,3.0,95.9,58.1,96.5,39.5,77.9,52.9,14.2,30.0,40.0
21,22,1,Vic,m,3.0,96.3,58.5,91.0,39.5,73.5,52.1,16.2,28.0,36.0
22,23,1,Vic,f,4.0,92.5,56.1,89.0,36.0,72.8,53.3,15.4,28.0,35.0
23,24,1,Vic,m,2.0,94.4,54.9,84.0,34.0,75.0,53.5,16.2,27.0,32.0
24,25,1,Vic,m,3.0,95.8,58.5,91.5,35.5,72.3,51.6,14.9,31.0,35.0
25,26,1,Vic,m,7.0,96.0,59.0,90.0,36.0,73.6,56.2,15.0,29.0,38.0
26,27,1,Vic,f,2.0,90.5,54.5,85.0,35.0,70.3,50.8,14.2,23.0,28.0
27,28,1,Vic,m,4.0,93.8,56.8,87.0,34.5,73.2,53.0,15.3,27.0,30.0
28,29,1,Vic,f,3.0,92.8,56.0,88.0,35.0,74.9,51.8,14.0,24.0,32.0
29,30,1,Vic,f,2.0,92.1,54.4,84.0,33.5,70.6,50.8,14.5,24.5,33.0
30,31,1,Vic,m,3.0,92.8,54.1,93.0,37.0,68.0,52.5,14.5,27.0,31.0
31,32,1,Vic,f,4.0,94.3,56.7,94.0,39.0,74.8,52.0,14.9,28.0,34.0
32,33,1,Vic,m,3.0,91.4,54.6,89.0,37.0,70.8,51.8,14.8,24.0,30.0
33,34,2,Vic,m,2.0,90.6,55.7,85.5,36.5,73.1,53.1,14.4,26.0,28.5
34,35,2,Vic,m,4.0,94.4,57.9,85.0,35.5,71.2,55.5,16.4,28.0,35.5
35,36,2,Vic,m,7.0,93.3,59.3,88.0,35.0,74.3,52.0,14.9,25.5,36.0
36,37,2,Vic,f,2.0,89.3,54.8,82.5,35.0,71.2,52.0,13.6,28.0,31.5
37,38,2,Vic,m,7.0,92.4,56.0,80.5,35.5,68.4,49.5,15.9,27.0,30.0
38,39,2,Vic,f,1.0,84.7,51.5,75.0,34.0,68.7,53.4,13.0,25.0,25.0
39,40,2,Vic,f,3.0,91.0,55.0,84.5,36.0,72.8,51.4,13.6,27.0,30.0
41,42,2,Vic,m,3.0,85.3,54.1,77.0,32.0,62.7,51.2,13.8,25.5,33.0
42,43,2,Vic,f,2.0,90.0,55.5,81.0,32.0,72.0,49.4,13.4,29.0,31.0
44,45,2,Vic,m,3.0,90.7,55.9,81.0,34.0,71.5,54.0,14.6,27.0,31.5

In [37]:
vic_pop.describe(include='all')

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,43.000000,43.000000,43,43,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
unique,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Vic,f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,43,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,22.093023,1.232558,NaN,NaN,4.000000,92.897674,56.818605,87.918605,35.953488,72.437209,52.476744,14.869767,27.627907,32.790698
std,12.714472,0.427463,NaN,NaN,2.126925,2.475257,2.499929,4.588975,1.768824,2.622160,1.497114,0.786958,1.796468,2.697513
min,1.000000,1.000000,NaN,NaN,1.000000,84.700000,51.500000,75.000000,32.000000,62.700000,49.400000,13.000000,23.000000,25.000000
25%,11.500000,1.000000,NaN,NaN,2.000000,91.700000,55.450000,85.250000,35.000000,71.100000,51.500000,14.400000,27.000000,31.500000
50%,22.000000,1.000000,NaN,NaN,3.000000,93.300000,56.300000,89.000000,36.000000,72.800000,52.200000,14.900000,28.000000,33.000000
75%,32.500000,1.000000,NaN,NaN,5.500000,94.550000,57.950000,91.000000,37.000000,73.750000,53.400000,15.350000,28.500000,34.250000
max,45.000000,2.000000,NaN,NaN,9.000000,96.300000,67.700000,96.500000,39.500000,77.900000,56.200000,16.400000,31.000000,40.000000

#### Measure of spread

In [61]:
# Measures of Centre for numeric columns
num_cols = ["age", "hdlngth", "skullw", "totlngth", "taill", "footlgth", "earconch", "chest", "belly"]

In [63]:
# checking for the mean
print("Mean:\n", vic_pop[num_cols].mean().round(2))

Mean:
 age          4.00
hdlngth     92.90
skullw      56.82
totlngth    87.92
taill       35.95
footlgth    72.44
earconch    52.48
chest       27.63
belly       32.79
dtype: float64

In [64]:
# Checking for the median
print("Median:\n", vic_pop[num_cols].median().round(2))

Median:
 age          3.0
hdlngth     93.3
skullw      56.3
totlngth    89.0
taill       36.0
footlgth    72.8
earconch    52.2
chest       28.0
belly       33.0
dtype: float64

In [65]:
# checking for the mode
print("Mode:\n", vic_pop[num_cols].mode().iloc[0].round(2))

Mode:
 age          3.0
hdlngth     94.4
skullw      57.6
totlngth    89.5
taill       36.0
footlgth    73.2
earconch    52.0
chest       28.0
belly       32.0
Name: 0, dtype: float64

In [66]:
# checking for the Variance
print("Variance\n", vic_pop[num_cols].var().round(2))

Variance
 age          4.52
hdlngth      6.13
skullw       6.25
totlngth    21.06
taill        3.13
footlgth     6.88
earconch     2.24
chest        3.23
belly        7.28
dtype: float64

#### Measure of spread

In [68]:
max = vic_pop[num_cols].max().round(2)
min = vic_pop[num_cols].min().round(2)

print("Maximum:", max)
print("\nMinimum:", min)

Maximum: age          9.0
hdlngth     96.3
skullw      67.7
totlngth    96.5
taill       39.5
footlgth    77.9
earconch    56.2
chest       31.0
belly       40.0
dtype: float64

Minimum: age          1.0
hdlngth     84.7
skullw      51.5
totlngth    75.0
taill       32.0
footlgth    62.7
earconch    49.4
chest       23.0
belly       25.0
dtype: float64